doctype html
html
  head
    title= title
    script(type="text/javascript", src="http://code.jquery.com/jquery-latest.js")
    script(type="text/javascript", src="https://d3js.org/d3.v4.min.js")
    link(rel='stylesheet', href='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
